*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Common classes */
.w-70{
    width: 70vw;
    margin: auto;
}

.bg-blue{
    background-color: #0282f9;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.jc-left{
    justify-content: flex-start;
}

.jc-center{
    justify-content: center;
}

.jc-right{
    justify-content: end;
}

.jc-bw{
    justify-content: space-between;
}

.al-center{
    align-items: center;
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.font-small{
    font-size: small;
}

.padding-h10{
    padding: 10px 0;
}
/* Header */

header{
    color: gray;
    /* height: 120px; */
}

nav img{
    height: 80px;
}

ul{
    list-style: none;    
}

ul a{
    text-decoration: none;
    color: black;
}

header input{
    border: none;
    width: 100%;
}

header form{
    border-bottom: #0282f9 2px solid;
    padding: 3px 8px;
    width: 120px;
}
/* main */
#jumbo{
    width: 100%;
    height: 40vh;
    background-image: url('../img/jumbotron.jpg');
}
/* main.cards */
#series{
    background-color: #1c1c1c;
    
    padding-bottom: 20px;
}

#over-elem{
    height: 50px;
    width: max-content;
    padding: 10px 23px;
    position: relative;
    top: -25px;
}

#cards{
    width: 100%;
}

.card{
    width: calc((70vw / 6) - 10px);
    margin-bottom: 10px;
}

.card img{
    width: 100%;
    height: calc((70vw / 6) - 10px);;
}

.card p{
    font-weight: bold;
    padding: 10px 0;
}

#load{
    text-align: center;
    width: 120px;
    margin: auto;
    height: 40px;
}

#load button{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

#load button:hover{
    cursor: pointer;
}

/* footer */
#badge{
    padding: 40px 0;
}



#badge a{
    display: flex;
    align-items: center;
    gap: 15px;
}

#badge img{
    max-height: 50px;
    max-width: 50px;
}

#badge span{
    font-size: 16px;
    word-break: keep-all;
}

footer{
    height: 50vh;
}

#faq-bg{
    height: 40vh;
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.faq > ul{
    margin-bottom: 15px;
}

.faq h3{
    margin-bottom: 7px;
}

.faq *{
    color: white;
}

.faq a{
    opacity: 0.6;
}
.faq a:hover{
    opacity: 1;
}

#footer-logo{
    width: 50%;
}

#footer-logo div{
    background-image: url('../img/dc-logo-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#sign-up{
    height: 10vh;
    background-color: #303030;
}

#sign-up > div{
    height: 100%;
}

#sign-up button{
    border: 2px solid #0282f9;
    background: none;
    padding: 15px 20px;
}

#sign-up button:hover{
    cursor: pointer;
}

#sign-up a{
    color:#0282f9;
    text-decoration: none;
    font-size: small;
    vertical-align: middle;
}

/* single comic */
#badge-2{
    padding: 40px 0;
    height: 120px;
    position: relative;
}

#badge-2 img{
    position: absolute;
    bottom: 25px;
}

#info-cont{
    padding: 30px 0;

}

#info-cont > div{
    gap: 30px;
}

#infobox{
    width: 65%;
}


#advbox h4{
    text-align: end;
    opacity: 0.6;
}

#green{
    width: 100%;
    height: 50px;
    background-color: #55ba59;
    margin: 18px 0;
    border-bottom: 1px solid black;
}

#green > *{
    height: 100%;
    padding: 0 15px;
}

#price{
    width: 70%;
    border-right: 1px solid gray;
    
}

#available{
    width: calc(30% - 2px);
    border-left: 1px solid grey;
    cursor: pointer;
}

#available, #price{
    color: white;
}

#description{
    font-weight: bold;
    opacity: 0.7;
}

#author-box{
    border-top: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 40px 0 20px 0;
}

.author{
    flex-basis: 45%;
}

.author > div:first-child{
    padding-bottom: 25px;
    width: 100%;
}

.author > *{
    border-bottom: 1px solid lightgray;
}

.author-elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.author-elem *:first-child{
    flex-basis: 25%;
}

.author-elem *:last-child{
    flex-basis: 70%;
}

.author-elem a{
    text-decoration: none;
    font-weight: bold;
    color: #52addc;
    font-size: 13px;
}